
<footer  class="footer_area-container fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto text-center">
                 <div class="footer-logo">
                    <img src="http://127.0.0.1:5501/assets/img/new/logo/feston1.png" alt="Feston Logo">
                 </div>
                 <div class="footer-para text-center">
                    <p>Go Solar to Invest in our future.</p>
                 </div>
                 <div class="nav-links-footer mx-auto">
                    <ul class="row d-flex ul-footer-nav text-center mb-6">
                        <li class="col-lg-3 col-md-3 col-sm-6"><a routerLink="/home" routerLinkActive="red-active">Home </a></li>
                        <li class="col-lg-3 col-md-3 col-sm-6"><a routerLink="/about" routerLinkActive="red-active"> About</a></li>
                        
                        <li class="col-lg-3 col-md-3 col-sm-6"><a routerLink="/home" routerLinkActive="red-active">  Products </a></li>
                        <li class="col-lg-3 col-md-3 col-sm-6"><a routerLink="/home" routerLinkActive="red-active"> Contact  </a></li>
                        <!-- <li><a href="accordion.html"> Policy &amp; Privacy </a></li> -->
                    </ul>
                 </div>
                 <div class="contact-info-footer text-center">
                    
                    <div class="row d-flex mt-4">
                        <div class="contact-info-para  col-lg-3">
                            <div class="img-footer">
                                <a href="tel:+91 89287 65223"><img src="https://cdn-icons-png.flaticon.com/128/4213/4213179.png"></a>
                            </div>
                            <p>+91 89287 65223</p>
                        </div>
                        <div class="contact-info-para col-lg-3">
                            <div class="img-footer">
                                <a href="mailto:sales@festasolar.com"><img src="https://cdn-icons-png.flaticon.com/128/893/893257.png"></a>
                            </div>
                           <p>sales@festasolar.com</p> 
                        </div>
                        <div class="contact-info-para col-lg-6">
                            <div class="img-footer">
                                <a href="https://www.google.com/maps/place/Festa+Solar+Private+Limited,+Vanagaram-Ambattur+Rd,+Gandhi+Nagar,+Ambattur+Industrial+Estate,+Chennai,+Tamil+Nadu+600058/@13.0861881,80.1608841,17z/data=!4m6!3m5!1s0x3a52618f4ecf7cbf:0x7781f862a47cc350!8m2!3d13.0861881!4d80.1608841!16s%2Fg%2F11q3zxv6bq"><img src="https://cdn-icons-png.flaticon.com/128/6948/6948631.png"></a>
                            </div>
                            <p>97/80, Vanagaram Ambattur Road, Chennai, Tamil Nadu - 600058 </p>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->
